.actions .nav-btn:not(.donator-badge),
.follower-badge {
	background-color: rgba(var(--color-blue), 0.2) !important;
}

.donator-badge {
	animation-duration: unset !important;
	background-color: rgba(var(--color-blue), 0.2) !important;
}
