.user:has(.follower-badge) .banner-content .name-wrapper {
	position: relative;
}

.user:has(.follower-badge) .banner-content .name-wrapper::after {
	content: var(--discord-user);
	color: rgb(var(--color-text));
	position: absolute;
	padding: 22px 25px;
	font-size: 12px;
	left: 0;
}
