.overview .section:first-child .section-header {
	text-transform: lowercase;
	font-style: italic;
	user-select: none;
	/* margin-bottom: 0px !important; */
}

.favourites.preview .favourites-wrap {
	padding-top: 2px !important;
	margin-bottom: -25px !important;
}
body:has(.content > .overview, .content > .favourites) .tooltip .content {
	display: none;
}

.tooltip .title {
	text-transform: lowercase;
}

body:has(.content > .overview, .content > .favourites)
	.tooltip
	.content:has(.circle) {
	display: block;
	text-transform: lowercase;
}
