.overview .section:first-child .section-header {
	text-transform: lowercase;
	font-style: italic;
	user-select: none;
}

.favourites.preview .favourites-wrap {
	background: unset !important;
	padding-top: 2px !important;
	margin-bottom: -25px !important;
}

.tooltip {
	background: rgba(23, 29, 34, 0.842) !important;
}

.tooltip .title {
	background: unset !important;
}

.tooltip .content {
	display: none;
}
